<header class="nav-container">
    <nav class="header-nav">
      <a class="header-title" href="/">Title</a>
      <ul class="nav-links">
        <li><a class="items" href="/digitdraw">Digit Draw</a></li>
        <li><a class="items" href="/quickdraw">Quick Draw</a></li>
        <li><a class="items" href="#">sub-page1</a></li>
        <li><a class="items" href="#">sub-page1</a></li>
        <li><a class="items" href="#">sub-page1</a></li>
        <li class="sidebar-open"><a class="sidebar-button" href="#"><i class=" fa-solid fa-bars"></i></a></li>
      </ul>
      <ul class="sidebar">
        <li class="sidebar-close"><a href="#">x</a></li>
        <li><a href="/digitdraw">Digit Draw</a></li>
        <li><a href="/quickdraw">Quick Draw</a></li>
        <li><a href="#">sub-page1</a></li>
        <li><a href="#">sub-page1</a></li>
        <li><a href="#">sub-page1</a></li>
      </ul>
    </nav>
  </header>