<header class="nav-container">
    <nav class="header-nav">
      <a class="header-title" href="/">Title</a>
      <ul class="nav-links">
        <li><a class="items" href="#">sub-page1</a></li>
        <li><a class="items" href="#">sub-page1</a></li>
        <li><a class="items" href="#">sub-page1</a></li>
        <li><a class="items" href="#">sub-page1</a></li>
        <li><a class="items" href="#">sub-page1</a></li>
        <li class="sidebar-open"><a class="sidebar-button" href="#"><i class=" fa-solid fa-bars"></i></a></li>
      </ul>
      <ul class="sidebar">
        <li class="sidebar-close"><a href="#">x</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">LogIn</a></li>
        <li><a href="#">Cart</a></li>
      </ul>
    </nav>
  </header>