<h1>Draw Something</h1>
<canvas id="canvas" width="280" height="280"></canvas>
<div>
  <button class="canvas-reset">Reset</button>
  <button class="canvas-submit">Submit</button>
</div>
<div>
  <button class="change-model" data-model="model1">LeNet5</button>
  <button class="change-model" data-model="model2">Model 2</button>
  <button class="change-model" data-model="model3">Model 3</button>
</div>
<p id="prediction"></p>
<div id="detail-block"></div>