
<div class="container">
    <h2>Welcome to the Drawing Identifier</h4>
    <!-- Intro -->
    <p>This website's main purpose is to let you explore the fascinating world of machine learning. Our platform allow you to interact with our models, 
        and let you visualize how the CNN function. We have designed two models, one is digit detection, and the other one is drawing detection. 
        This will provide you an engaging and educational experience. </p>

    <h4>How It Works</h4>
    <!-- How To Use THis -->
    <p>Using this tool is simple:</p>
    <ol type="1">
        <li>Select A Model</li>
        <li>Draw Something Based On The Provided List On the Canvas</li>
        <li>Press Submit</li>
        <li>Visualize How The Model Work</li>
     </ol>
     <p>Optionally, on the Digit Draw, you can write your own CNN Network too! <br>You can follow <a href="https://cs.stanford.edu/people/karpathy/convnetjs/">ConvNetJS Documentation</a> to guide you. </p>

     <ol type="1">
        <li>Write Your Own Code onto Provied IDE</li>
        <li>Press New Training to Train Your Own Network</li>
        <li>Press Save This Network to Save Your Network</li>
     </ol>

    <h4>Technology</h4>
    <!-- Credit What stuff you used -->
    <p>Drawing Identifier uses some pretty cool tech to make everything work:</p>
     <ol>
        <li><b>ConvNetJS</b></li>
        <li><b>Bootstrap</b></li>
        <li><b>CodeMirror</b></li>
     </ol>
    
</div>

<div>
    
</div>