<h3> Drawing Identifier </h3>
<div>
    <h4>Welcome to the Drawing Identifier</h4>
    <p>This site's main purpose is to let you expkire the fascinating world of machine learning. Our platform allow you to interact with our models, and let you visualize how the CNN function. We have designed two models, one is digit detection, and the other one is drawing detection. This will provide you an engaging and educational experience. </p>
    <h5>Technology</h5>
    <p>In our models, we have used ConvnetJS to trained them. Which allow you to train your own neural network on your browser. </p>
</div>

<div>
    
</div>